body {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-top: 10vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  align-items: center;
}

#todo-input, #todo-date {
  font-size: 15px;
  padding: 10px 5px;

}

.delete-button {
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0;
  cursor: pointer;
}

.delete-button:hover {
  background-color: rgb(196, 17, 17);
}

.add-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0;
  cursor: pointer;
}

.add-button:hover {
  background-color: rgb(10, 160, 10);
}